@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  max-width: 1024px;
  margin: 0px auto;
  padding: 6px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__right {
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.navbar__item {
}

.navbar__link {
  padding: 0px 10px;
  color: gray;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar__icon {
  padding: 0px 15px;
}

.navbar__icon:last-child {
  padding-right: 0px;
}

.hero {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

.hero__title {
  text-align: center;
  color: rgba(37, 43, 66, 1);
  font-weight: 700;
}

.hero__desc {
  color: gray;
  text-align: center;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 30px;
}
.btn {
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0px 8px;
  font-size: 14px;
  border-radius: 40px;
}

.btn--primary {
  color: white;
  background: #1ba0ab;
}

.btn--secondary {
  color: white;
  background: rgba(255, 166, 43, 1);
}
.btn--outlined {
  border: 1px solid #1ba0ab;
  color: #1ba0ab;
}

.btn--transparent {
  color: #1ba0ab;
}

.why {
  max-width: 1024px;
  margin: 0px auto;
}

.why__header {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why__title {
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.why__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: gray;
  font-weight: 600;
}

.why__content {
  gap: 20px;
  margin: 30px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.whycard__top {
  display: flex;
  align-items: center;
}
.whycard__title {
  margin-left: 20px;
  font-size: 15px;
}
.whycard__desc {
  font-size: 14px;
  color: gray;
  line-height: 1.5;
  font-weight: 600;
}

.features {
  margin: 0px auto;
  padding: 100px 0px;
  background: #fafafa;
}

.features__header {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__title {
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}
.features__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: gray;
  font-weight: 600;
}

.features__content {
  max-width: 694px;
  margin: 0px auto;
  position: relative;
  margin-top: 40px;
}
.features__cover {
  width: 100%;
}
.features__play {
  position: absolute;
  justify-items: center;
  align-items: center;
  top: 40%;
  left: 45%;
}

.features__bg {
  background: rgba(22, 105, 122, 1);
  width: 100%;
  height: 300px;
  margin-top: -200px;
}

.testimonies {
  margin: 0px auto;
  padding: 100px 0px;
  background: #fafafa;
}

.testimonies__header {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonies__title {
  margin: 10px;
  font-size: 25px;
  text-transform: capitalize;
}
.testimonies__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: gray;
  font-weight: 600;
}
.testimonies__content {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 940px;
  gap: 20px;
  margin: 0px auto;
}

.testimony__item {
  background: white;
  padding: 15px;
  border: 1px solid rgb(241, 241, 241);
}
.testimonyuser__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonyuser__item {
  display: flex;
  align-items: center;
}

.testimonyuser__username {
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 14px;
}

.testimonyuser__role {
  font-size: 13px;
  color: gray;
  font-weight: 600;
}
.testimony__message {
  font-size: 14px;
  color: gray;
  line-height: 2;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.team__header {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team__title {
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.team__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: gray;
  font-weight: 600;
}

.team__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-column-gap: 30px;
  max-width: 940px;
  margin: 0px auto;
}

.team__item {
  margin: 30px 0px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  overflow: hidden;
}

.team__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.team__name {
  margin: 20px 0px;
}
.team__role {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(77, 77, 77);
  margin-bottom: 22px;
}

.team__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__icon {
  padding: 0px 7px;
}
.team__icons {
  margin-bottom: 20px;
}
